/*__  __                   _______              
 |  \/  |                 |__   __|             
 | \  / | __ _  ___ _ __ ___ | | __ _  ___ ___  
 | |\/| |/ _` |/ __| '__/ _ \| |/ _` |/ __/ _ \ 
 | |  | | (_| | (__| | | (_) | | (_| | (_| (_) |
 |_|  |_|\__,_|\___|_|  \___/|_|\__,_|\___\___/ 
 */

@font-face {
  font-family: "font";
  src: url("./Pangolin-Regular.ttf");
}

@font-face {
  font-family: "titles";
  src: url("./LuckiestGuy-Regular.ttf");
}

* {
  font-family: font;
}

html,
body {
  min-height: 100vh;
  box-sizing: border-box;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: rgb(25, 25, 40);
  overflow-x: hidden; /* Add this line to hide horizontal overflow */
}

header {
  background-color: #a02daa;
  margin-bottom: 15vh;
  width: 100vw;
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #a02daa;
  width: 100vw;
}

h1 {
  text-shadow: 3px 3px 3px black;
  color: #585cd6;
  font-family: titles;
  font-size: 60px;
  margin: 2vh auto;
  transition: 2s;
  cursor: pointer;
}

h1:hover {
  transition: 0.5s;
  color: rgba(0, 0, 0, 0.9);
  text-shadow: 0px 0px 10px #585cd6;
}

label {
  font-size: 20px;
  font-weight: bold;
  color: #585cd6;
}

p {
  font-size: 20px;
  color: #585cd6;
  max-width: 50vw;
  cursor: default;
}

.footP {
  font-size: 15px;
  color: white;
  max-width: 50vw;
  cursor: default;
}

span {
  color: blue;
}

main {
  flex-grow: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-container {
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 8px;
  font-size: 18px;
  border-radius: 10px;
  border: 2px solid black;
  color: #585cd6;
  transition: box-shadow 0.3s;
  outline: none;
}

input:hover,
input:focus {
  box-shadow: 0 0 5px 2px #a02daa;
}

button {
  padding: 5px 16px;
  font-size: 18px;
  background-color: #a02daa;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  transition: box-shadow 0.3s;
  margin: auto 10px;
}

button:hover {
  box-shadow: 0 0 10px 2px white;
}

.inputButtons {
  padding: 8px 16px;
  font-size: 18px;
  background-color: #585cd6;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  transition: box-shadow 0.3s;
  margin: auto 10px;
}

.inputButtons:hover {
  box-shadow: 0 0 10px 2px #a02daa;
}

.dark {
  padding: 10px 20px;
  font-size: 18px;
  background-image: linear-gradient(to right, #a02daa, #585cd6);
  border: none;
  cursor: pointer;
  transition: box-shadow 0.2s;
  margin: auto 10px;
  padding: 10px 20px;
  font-size: 18px;
  background-image: linear-gradient(to right, #a02daa, #585cd6);
  border: none;
  cursor: pointer;
  transition: box-shadow 0.2s;
  margin: auto 10px;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

.dark:hover {
  box-shadow: 4px 4px 0.5px orange;
}

.results-container {
  margin-top: 5vh;
  margin-bottom: 40px;
}

.results-container div {
  background-color: #585cd6;
  padding: 10px;
  margin: 10px auto;
  max-width: 400px;
  text-align: left;
  border-radius: 10px;
  box-shadow: 0px 0px 5px black;
  color: white;
  cursor: default;
}

.results-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 150px;
}

/* Track */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #a02daa;
}

/* Thumb */
::-webkit-scrollbar-thumb {
  background: #585cd6;
}

::-webkit-scrollbar-thumb:hover {
  background: white;
}
