/*__  __                   _______              
 |  \/  |                 |__   __|             
 | \  / | __ _  ___ _ __ ___ | | __ _  ___ ___  
 | |\/| |/ _` |/ __| '__/ _ \| |/ _` |/ __/ _ \ 
 | |  | | (_| | (__| | | (_) | | (_| | (_| (_) |
 |_|  |_|\__,_|\___|_|  \___/|_|\__,_|\___\___/ 
 */

@font-face {
  font-family: "font";
  src: url("./Pangolin-Regular.ttf");
}

@font-face {
  font-family: "titles";
  src: url("./LuckiestGuy-Regular.ttf");
}

* {
  font-family: font;
}

html,
body {
  min-height: 100vh;
  box-sizing: border-box;
  margin: 0;
}

.EE {
  color: rgb(120, 200, 110);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: rgb(130, 210, 110);
}

header {
  background-color: rgb(150, 110, 30);
  margin-bottom: 15vh;
  width: 100vw;
  position: sticky;
  top: 0;
  z-index: 100;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgb(150, 110, 30);
  width: 100vw;
}

h1 {
  text-shadow: 3px 3px 3px black;
  color: rgb(120, 200, 110);
  font-family: titles;
  font-size: 60px;
  margin: 2vh auto;
  transition: 2s;
  cursor: pointer;
}

h1:hover {
  transition: 0.5s;
  color: black;
  text-shadow: 0px 0px 10px rgb(120, 200, 110);
}

label {
  font-size: 20px;
  font-weight: bold;
  color: rgb(150, 110, 30);
}

p {
  font-size: 20px;
  color: rgb(150, 110, 30);
  max-width: 50vw;
  cursor: default;
}

.footP {
  font-size: 15px;
  color: rgb(120, 200, 110);
  max-width: 50vw;
  cursor: default;
}

span {
  color: white;
}

main {
  flex-grow: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-container {
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 8px;
  font-size: 18px;
  border-radius: 10px;
  border: 2px solid black;
  color: rgb(150, 110, 30);
  transition: box-shadow 0.3s;
  outline: none;
}

input:hover,
input:focus {
  box-shadow: 0 0 5px 2px rgb(150, 110, 30);
}

button {
  padding: 5px 16px;
  font-size: 18px;
  background-color: rgb(120, 200, 110);
  color: rgb(150, 110, 30);
  border: none;
  cursor: pointer;
  border-radius: 10px;
  transition: box-shadow 0.3s;
  margin: auto 10px;
}

button:hover {
  box-shadow: 0 0 10px 2px rgb(120, 200, 110);
}

.inputButtons {
  padding: 8px 16px;
  font-size: 18px;
  background-color: rgb(150, 110, 30);
  color: rgb(120, 200, 110);
  border: none;
  cursor: pointer;
  border-radius: 10px;
  transition: box-shadow 0.3s;
  margin: auto 10px;
}

.inputButtons:hover {
  box-shadow: 0 0 10px 2px rgb(150, 110, 30);
}

.results-container {
  margin-top: 5vh;
  margin-bottom: 40px;
}

.results-container div {
  background-color: rgb(150, 110, 30);
  padding: 10px;
  margin: 10px auto;
  max-width: 400px;
  text-align: left;
  border-radius: 10px;
  box-shadow: 0px 0px 5px black;
  color: rgb(120, 200, 110);
  cursor: default;
}

.results-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 150px;
}

/* Media Queries for Responsiveness */

/* Small devices (phones) */
@media (max-width: 576px) {
  h1 {
    font-size: 40px;
  }

  p,
  .footP {
    font-size: 16px;
    max-width: 80vw;
  }

  input[type="text"] {
    font-size: 14px;
  }

  button,
  .inputButtons {
    font-size: 14px;
  }
}

/* Medium devices (tablets) */
@media (min-width: 577px) and (max-width: 992px) {
  h1 {
    font-size: 50px;
  }

  p,
  .footP {
    font-size: 18px;
    max-width: 60vw;
  }

  input[type="text"] {
    font-size: 16px;
  }

  button,
  .inputButtons {
    font-size: 16px;
  }
}
